.banner {
    background-color: powderblue;
    padding: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.float-container {
    padding-top: 10px;
    min-height: 75%;
    float: center;
    text-align: center;
    min-height: 75%;
    display: flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.float-child-left {
    height: 100%;
    width: 80%;
    float: left;
    background-color: white;
    margin-right: 5px;
}  

.float-child-right {
    height: 100%;
    width: 20%;
    float: right;
    background-color: white;
    margin-left: 5px;
}  

.start-button {
    background-color: green;
    color: white;
    font-style: italic;
    width: 90%;
    height: 75px;
    border-radius: 30px;
    font-size: 24px;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    border: 3px solid #13121f;
    z-index: 20;
    box-shadow: 2px 2px;
  }
  
  #popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

  .quad {
    float:left;
    width: 25%;
  }

  .queued-player-label {
    margin: 0px;
    float: left;
    font-style: bold;
    text-align: left;
  }

  .queued-player-button {
    margin: 0px;
    float: right;
  }

  .tourney-page-width-mode {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-right: 5px;
    text-align: center;

  }

  .matchup {
    text-align: left;
    width: 100%;
  }

  .matchup-selected {
    margin: 10px;
    background-color: green;
    text-align: center;
  }

  .matchup-not-selected {
    margin: 10px;
    background-color: lightgray;
    text-align: center;
  }

  .advance-button {
    text-align: center;
    margin-bottom: 10px;
  }